<!-- <div id="sign-up"> -->
<div class= "input-container">
  <div class="input-bar">
  <div class = "location-div">
    Your Location: <input class="input location form-control" type="text" id="user-location">
    <button class="add-favorite">&hearts;</button>
    <select class="select-fav form-control">
      <option class = 'placeholder' value = ''>Favorites...</option>
    </select>
</div> 
<div class="location-div">
    Friend's Location: <input class="input location form-control" type="text" id="friend-location">
    <button class="add-favorite">&hearts;</button>
    <select class="select-fav form-control">
      <option class = 'placeholder' value = ''>Favorites...</option>
    </select>
    <button class="add-friend">Add</button>
</div>    
    Type of activity: <input class="activity input form-control" type="text">
    <button id="search-midpoint">Search</button>
    <div class="row">
      <div class="col-lg-9">
          <div class = "col-lg-3"><%= image_tag "point.png", :id => "point-logo"%></div>
      </div>
    </div>
  </div>
</div>