<!-- <div id="sign-up"> -->
<div class= "input-container">
  <div class="input-bar"> 
    Your Location: <input class="input location form-control" type="text" id="user-location">

    Friend's Location: <input class="input location form-control" type="text" id="friend-location">
    Type of activity: <input class="input form-control" type="text">
    <button id="search-midpoint">Search</button>
    <div class="row">
      <div class="col-lg-9">
          <div class = "col-lg-3"><%= image_tag "point.png", :id => "point-logo"%></div>
      </div>
    </div>
  </div>
</div>