     <hr>
      <label for="user-location">Your Location</label><input type="text" id="user-location">
      <label for="user-location">Friend's Location</label><input type="text" id="friend-location">
      <label for="user-location">type of activity</label><input type="text">
      <button id="search-midpoint">Search</button>
      <hr>