<div class="row">
	<div class="col-lg-2">
<form action="get">
<label for="user-location">Your Location</label><input type="text">
<label for="user-location">Freind's Location</label><input type="text">
<label for="user-location">type of activity</label><input type="text">
</div>
</form>
</div>