 <div class = "back-splash">
      <%= render "address_input" %>
 <!--     <div id="map" style="width:500px;height:400px;"></div> -->
 <div id="calc-map">
      <%= render 'calc_map' %>
</div>

    <div id="loading"></div>
    <div id="copyright"></div>
  

    <div id="results_map"></div>

    <%= render 'results_yelp_list' %>
   
  </div>