<<<<<<< HEAD
<h1>Midpoint</h1>

<button id="add_location_btn">Add Destination</button><br >
<input id="user_base_location" type="text" placeholder="Enter Your Location" autofocus />
<div id="non_user_location_inputs">
  <input type="text" placeholder="Enter Destination 1" />
</div>

<!-- The partial below renders the google map. I include it here for testing purposes -->
<%= render "results_map" %>
=======
<div class="row">
	<div class="col-lg-2">
<form action="get">
<label for="user-location">Your Location</label><input type="text">
<label for="user-location">Freind's Location</label><input type="text">
<label for="user-location">type of activity</label><input type="text">
</div>
</form>
</div>
>>>>>>> d3a15c08c5970a6cc980f0cb695e1e87a8381a33
