<div class="row">
  <div class="col-lg-2">
    <form action="get">
      <label for="user-location">Your Location</label><input type="text" id="user-location">
      <label for="user-location">Friend's Location</label><input type="text" id="friend-location">
      <label for="user-location">type of activity</label><input type="text">
      <button id="search-midpoint">Search</button>
  </div>
    </form>
    <div class="row">
    	<div class="col-lg-6">
    <div id="mapnificent-map"></div>
    <%= render "results_map" %>
    </div>
    </div>
</div>
