 
<%= render "address_imput" %>
 <!--     <div id="map" style="width:500px;height:400px;"></div> -->
    <%= render 'results_map' %>
    <div id="loading"></div>
    <div id="copyright"></div>
    <hr>
    <div id="results_map"></div>