 <div class = "back-splash">
      <%= render "address_imput" %>
 <!--     <div id="map" style="width:500px;height:400px;"></div> -->
      <%= render 'calc_map' %>


    <div id="loading"></div>
    <div id="copyright"></div>
  
   
    <div id="results_map"></div>
  </div>