header {
	/*min-height: 100px;*/
	padding: 20px;
	background-color: #7E8AA2;
	opacity: 0.9;
	height: 150px;

}

.bar {
	width: 100%;
}

body {
	background: url(nyvintage.jpg) no-repeat center center fixed; 
	
 /*filter: alpha(opacity=40);*/
}

/*.container {
	width: 100%;
}
*/

#user-info {
	float: right;

}

.back-splash {

	/*background-color: #D99C2B;*/
	background-color: rgba(217, 156, 43, 0.8);
	margin: 5%;
	width: 100%;
	padding: 30px;
	/*position: absolute; */
	border-radius: 20px;
	-webkit-box-shadow: 7px 7px 5px 0px rgba(50, 50, 50, 0.49);
	-moz-box-shadow:    7px 7px 5px 0px rgba(50, 50, 50, 0.49);
	box-shadow:         7px 7px 5px 0px rgba(50, 50, 50, 0.49);
	
}

.input {
	width: 85%;
	overflow: visible;
}

.input-container {

	/*position: relative;*/
	height: 100%;
	width: 100%;
	min-height: 100%;


}

#point-logo {
	float: right;
	width: 50px
}

/*Nav bar log*/


.input-bar {
	background-color: #7E8AA2;;
	/*background-color: #183EB5;*/
	width: 50%;
	margin: 0 auto;
	padding: 30px;
	/*position: absolute; */
	border-radius: 20px;
	-webkit-box-shadow: 7px 7px 5px 0px rgba(50, 50, 50, 0.49);
	-moz-box-shadow:    7px 7px 5px 0px rgba(50, 50, 50, 0.49);
	box-shadow:         7px 7px 5px 0px rgba(50, 50, 50, 0.49);


}

.links {
	  color: white;
	  font-size: 16px;
}

.links a {
	  color: white;
	  font-size: 16px;
	  float: right;
}


#head-logo {
	width: 100px;

}

#point-logo-top {
	width: 30px;
	display: inline-block;
}

#logo1 {
    -vendor-animation-duration: 3s;
    -vendor-animation-delay: 2s;
    -vendor-animation-iteration-count: infinite;
}



.home-right { 
	float: right;

	
}

.center {
	margin: 0 auto;
	width: 60%;
}

.center div {
		text-align: center;
 			
     display: inline-block;
}
/*///////*/



.transparent {
	background-color: rgba(200, 200, 200, 0.7);
	min-height: 100%;
	min-width: 100%;
	position: absolute;
}

.landing-background {
	background: url(nyvintage.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.btn-lg {
	width: 200px;
	height: 60px;
	background-color: #183EB5;
	opacity: 0.8;
	font-size: 25px;
}

.btn-lg:hover {
	background-color: #183EB5;
	opacity: 1;

}

.btn-sm {
	width: 100px;
	height: 30px;
}

.btn {
	border: none;
	margin-bottom: 0px;
	border-radius: 0px;
	margin-top: 8px;
}


.row {
		margin-top: -50px;
	width: 50%;
	margin: 0 auto;
	padding: 30px;
}

.sign-up {
	background-color: #D99C2B;
/*	position: absolute;*/

	margin: auto 0;
	padding: 30px;
	border-radius: 20px;
	-webkit-box-shadow: 7px 7px 5px 0px rgba(50, 50, 50, 0.49);
	-moz-box-shadow:    7px 7px 5px 0px rgba(50, 50, 50, 0.49);
	box-shadow:         7px 7px 5px 0px rgba(50, 50, 50, 0.49);

}

.submit-button {
	margin-top: 5px;
}

#logo {
	margin-bottom: 0px;
}
#results_map {

	width: 500px;
	height: 500px;
	background-color: red;
}
